  <!-- Home slide -->
  <div class="home-slide5 slide-fullscreen owl-carousel nav-style4 nav-center-center owl-theme owl-loaded"
    data-animateout="fadeOut" data-animatein="fadeIn" data-items="1" data-nav="true" data-dots="false" data-loop="true"
    data-autoplay="true">
    <div class="owl-stage-outer">
      <div class="owl-stage"
        style="transform: translate3d(-8400px, 0px, 0px); transition: all 0s ease 0s; width: 11760px;">
        <div class="owl-item cloned" style="width: 1680px; margin-right: 0px;">
          <div class="item-slide full-height" data-background="assets/images/slides/35.jpg"
            style="background-image: url('assets/images/slides/35.jpg'); height: 867px;"></div>
        </div>
        <div class="owl-item cloned" style="width: 1680px; margin-right: 0px;">
          <div class="item-slide full-height" data-background="assets/images/slides/36.jpg"
            style="background-image: url('assets/images/slides/36.jpg'); height: 867px;"></div>
        </div>
        <div class="owl-item" style="width: 1680px; margin-right: 0px;">
          <div class="item-slide full-height" data-background="assets/images/slides/34.jpg"
            style="background-image: url('assets/images/slides/34.jpg'); height: 867px;"></div>
        </div>
        <div class="owl-item" style="width: 1680px; margin-right: 0px;">
          <div class="item-slide full-height" data-background="assets/images/slides/35.jpg"
            style="background-image: url('assets/images/slides/35.jpg'); height: 867px;"></div>
        </div>
        <div class="owl-item" style="width: 1680px; margin-right: 0px;">
          <div class="item-slide full-height" data-background="assets/images/slides/36.jpg"
            style="background-image: url('assets/images/slides/36.jpg'); height: 867px;"></div>
        </div>
        <div class="owl-item cloned active" style="width: 1680px; margin-right: 0px;">
          <div class="item-slide full-height" data-background="assets/images/slides/34.jpg"
            style="background-image: url('assets/images/slides/34.jpg'); height: 867px;"></div>
        </div>
        <div class="owl-item cloned" style="width: 1680px; margin-right: 0px;">
          <div class="item-slide full-height" data-background="assets/images/slides/35.jpg"
            style="background-image: url('assets/images/slides/35.jpg'); height: 867px;"></div>
        </div>
      </div>
    </div>
    <div class="owl-controls">
      <div class="owl-nav">
        <div class="owl-prev">prev</div>
        <div class="owl-next">next</div>
      </div>
      <div class="owl-dots" style="display: none;"></div>
    </div>
  </div>
