<div class="block-paralax4">
  <div class="container">
    <div class="head">
      <h3 class="title">testimonials</h3>
      <span class="sub-title">Customer Partner talk about us!</span>
    </div>
    <div class="row">
      <div class="col-lg-offset-2 col-sm-12 col-lg-8">
        <div class="testimonials style2 owl-carousel nav-style2 nav-center-center owl-theme owl-loaded"
          data-autoplay="true" data-items="1" data-nav="true" data-dots="false">


          <div class="owl-stage-outer">
            <div class="owl-stage"
              style="transform: translate3d(-770px, 0px, 0px); transition: all 0.25s ease 0s; width: 1540px;">
              <div class="owl-item" style="width: 770px; margin-right: 0px;">
                <div class="testimonial">
                  <div class="avatar">
                    <img src="assets/img/1.jpg" alt="">
                  </div>
                  <div class="inner">
                    <p class="text-in">Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                    <h6>John Brown</h6>
                  </div>
                </div>
              </div>
              <div class="owl-item active" style="width: 770px; margin-right: 0px;">
                <div class="testimonial">
                  <div class="avatar">
                    <img src="assets/img/1.jpg" alt="">
                  </div>
                  <div class="inner">
                    <p class="text-in">Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                    <h6>John Brown</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-controls">
            <div class="owl-nav">
              <div class="owl-prev">prev</div>
              <div class="owl-next">next</div>
            </div>
            <div class="owl-dots" style="display: none;"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
