<div class="margin-top-70">
  <div class="container">
    <div class="section-title style8 text-center margin-bottom-40">
      <h3>NEW ARRIVALS</h3>
    </div>
    <ul class="lines-space-60 desktop-columns-3 tablet-columns-2 mobile-columns-1 row owl-carousel-mobile"
      data-nav="false" data-dots="false" data-margin="0" data-loop="true" data-items="1">
      <li class="product-item style8 mobile-slide-item col-sm-6 col-md-4">
        <div class="product-inner">
          <div class="product-thumb has-back-image">
            <a href=""><img src="assets/img/43.jpg" alt=""></a>
            <a class="back-image" href=""><img src="assets/img/44.jpg" alt=""></a>
            <div class="gorup-button">
              <a href="" class="wishlist"><i class="fa fa-heart"></i></a>
              <a href="" class="compare"><i class="fa fa-exchange"></i></a>
              <a href="" class="quick-view"><i class="fa fa-search"></i></a>
            </div>
            <div class="add-cart-wapper">
              <a href="" class="button add_to_cart_button">ADD TO CART</a>
            </div>
          </div>
          <div class="product-info">
            <h3 class="product-name"><a href="">London Star Sweatshirt</a></h3>
            <span class="price">
              <ins>85.00 €</ins>
            </span>

          </div>
        </div>
      </li>
      <li class="product-item style8 mobile-slide-item col-sm-6 col-md-4">
        <div class="product-inner">
          <div class="product-thumb has-back-image">
            <a href=""><img src="assets/img/44.jpg" alt=""></a>
            <a class="back-image" href=""><img src="assets/img/45.jpg" alt=""></a>
            <div class="gorup-button">
              <a href="" class="wishlist"><i class="fa fa-heart"></i></a>
              <a href="" class="compare"><i class="fa fa-exchange"></i></a>
              <a href="" class="quick-view"><i class="fa fa-search"></i></a>
            </div>
            <div class="add-cart-wapper">
              <a href="" class="button add_to_cart_button">ADD TO CART</a>
            </div>
          </div>
          <div class="product-info">
            <h3 class="product-name"><a href="">London Star Sweatshirt</a></h3>
            <span class="price">
              <ins>85.00 €</ins>
            </span>

          </div>
        </div>
      </li>
      <li class="product-item style8 mobile-slide-item col-sm-6 col-md-4">
        <div class="product-inner">
          <div class="product-thumb has-back-image">
            <a href=""><img src="assets/img/45.jpg" alt=""></a>
            <a class="back-image" href=""><img src="assets/img/46.jpg" alt=""></a>
            <div class="gorup-button">
              <a href="" class="wishlist"><i class="fa fa-heart"></i></a>
              <a href="" class="compare"><i class="fa fa-exchange"></i></a>
              <a href="" class="quick-view"><i class="fa fa-search"></i></a>
            </div>
            <div class="add-cart-wapper">
              <a href="" class="button add_to_cart_button">ADD TO CART</a>
            </div>
          </div>
          <div class="product-info">
            <h3 class="product-name"><a href="">London Star Sweatshirt</a></h3>
            <span class="price">
              <ins>85.00 €</ins>
            </span>

          </div>
        </div>
      </li>
      <li class="product-item style8 mobile-slide-item col-sm-6 col-md-4">
        <div class="product-inner">
          <div class="product-thumb has-back-image">
            <a href=""><img src="assets/img/46.jpg" alt=""></a>
            <a class="back-image" href=""><img src="assets/img/47.jpg" alt=""></a>
            <div class="gorup-button">
              <a href="" class="wishlist"><i class="fa fa-heart"></i></a>
              <a href="" class="compare"><i class="fa fa-exchange"></i></a>
              <a href="" class="quick-view"><i class="fa fa-search"></i></a>
            </div>
            <div class="add-cart-wapper">
              <a href="" class="button add_to_cart_button">ADD TO CART</a>
            </div>
          </div>
          <div class="product-info">
            <h3 class="product-name"><a href="">London Star Sweatshirt</a></h3>
            <span class="price">
              <ins>85.00 €</ins>
            </span>

          </div>
        </div>
      </li>
      <li class="product-item style8 mobile-slide-item col-sm-6 col-md-4">
        <div class="product-inner">
          <div class="product-thumb has-back-image">
            <a href=""><img src="assets/img/47.jpg" alt=""></a>
            <a class="back-image" href=""><img src="assets/img/48.jpg" alt=""></a>
            <div class="gorup-button">
              <a href="" class="wishlist"><i class="fa fa-heart"></i></a>
              <a href="" class="compare"><i class="fa fa-exchange"></i></a>
              <a href="" class="quick-view"><i class="fa fa-search"></i></a>
            </div>
            <div class="add-cart-wapper">
              <a href="" class="button add_to_cart_button">ADD TO CART</a>
            </div>
          </div>
          <div class="product-info">
            <h3 class="product-name"><a href="">London Star Sweatshirt</a></h3>
            <span class="price">
              <ins>85.00 €</ins>
            </span>

          </div>
        </div>
      </li>
      <li class="product-item style8 mobile-slide-item col-sm-6 col-md-4">
        <div class="product-inner">
          <div class="product-thumb has-back-image">
            <a href=""><img src="assets/img/48.jpg" alt=""></a>
            <a class="back-image" href=""><img src="assets/img/45.jpg" alt=""></a>
            <div class="gorup-button">
              <a href="" class="wishlist"><i class="fa fa-heart"></i></a>
              <a href="" class="compare"><i class="fa fa-exchange"></i></a>
              <a href="" class="quick-view"><i class="fa fa-search"></i></a>
            </div>
            <div class="add-cart-wapper">
              <a href="" class="button add_to_cart_button">ADD TO CART</a>
            </div>
          </div>
          <div class="product-info">
            <h3 class="product-name"><a href="">London Star Sweatshirt</a></h3>
            <span class="price">
              <ins>85.00 €</ins>
            </span>

          </div>
        </div>
      </li>
    </ul>
    <a href="" class="button-loadmore">load more!</a>
  </div>
</div>
