<app-slide></app-slide>
<app-banner></app-banner>
<app-list-products></app-list-products>
<app-testimonials></app-testimonials>
<app-suggest-products></app-suggest-products>
<div class="container">
  <span class="line margin-top-80"></span>
  <div class="margin-top-70">
    <div class="row">
      <div class="col-sm-4" style="text-align: right;">
        <img style="margin-right: 20px;" class=" margin-top-25" src="assets/img/1(1).png" alt="">
      </div>
      <div class="col-sm-7">
        <blockquote>Vestiaire FMR is a reflection of you! A sexy and confident woman that radiates through his
          daring wardrobe. We bring you the best of all things glam and sexy while keeping in mind that
          high quality doesn’t have to come at a high price.</blockquote>
      </div>
    </div>
  </div>
</div>
<app-bloc-newsletter></app-bloc-newsletter>
<app-blog></app-blog>
