<div class="block-paralax5 bg-parallax">
  <div class="container">
    <div class="head">
      <h3 class="title">newsletter</h3>
      <span class="sub-title">Subscribe to our newsletters and don’t miss our exclusive offers and
        promotions.</span>
    </div>
    <div class="col-lg-offset-2 col-sm-12 col-lg-8">
      <div class="block-newletter style3">
        <div class="form">
          <div class="desc">
            <span class="text-primary">Get <span class="big-text">50%</span> off</span>
            <span>On your next purchase!</span>
          </div>
          <div class="newletter-wapper">
            <form class="newletter">
              <input class="email-text" type="text" value="" placeholder="Your email address here...">
              <input type="button" value="SIGNUP" class="button">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
